/* Sidebar hover items color smooth blending */
.btn-paper-sidebar:hover {
  color: #fd7979 !important;
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}

/* Base custom resets if any needed */
body {
  -webkit-font-smoothing: antialiased;
}
.list-group-item.active {
  background-color: red !important;
  color: white !important;
  border-color: white !important;
}
a.list-group-item-action {
  color: white !important;
  font-weight: 600 !important;
}
.active {
  background-color: #007bff !important;
  color: white !important;
  font-weight: bold;
}
/* CSS ke aakhir mein yeh chipkao taake graph container freeze na ho */
.chart-container,
#salesChart {
  width: 100% !important;
  min-height: 300px !important;
  display: block !important;
}
body {
  background-color: #ffffff;
  color: #111111;
  transition:
    background-color 0.3s,
    color 0.3s;
}
body.dark {
  background-color: #121212;
  color: #111111;
}
body.dark.card {
  background-color: #1e1e1e !important;
  color: #111111 !important;
}
@media (max-width: 760px) {
  #sidebar-wrapper {
    display: none !important;
  }
  #page-content-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    overflow-x: hidden !important;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden !important;
    background-color: #f8f9fa;
  }
}
