/* Sidebar hover items color smooth blending */
.btn-paper-sidebar:hover {
  color: #ffffff !important;
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}

/* Base custom resets if any needed */
body {
  -webkit-font-smoothing: antialiased;
}
.list-group-item.active {
  background-color: red !important;
  color: white !important;
  border-color: white !important;

}
/* working */
